@page "/"

<div class="top-row px-4">
    <div class="title">
        Hello, world!
    </div>
    <div class="details">
        Welcome to your d#
    </div>
</div>
<div class="content px-4">
    <i>
        <br />
        dash - run or travel somewhere in a great hurry.
        <br />
        dashboard - the panel facing the driver of a vehicle or the pilot of an aircraft, containing instruments and controls.
        <br />
        dasz - (Polish) to give; to dish out; to proffer; to yield.
        <br />
        define - go ahead! suggest more ;)
        <br />
        delta - (Computing) a change or set of changes made to a file or program, especially as part of an update to a later version. <br />
        &nbsp; &nbsp; (Mathematics) a finite increment. <br />
        &nbsp; &nbsp; a triangular tract of sediment deposited at the mouth of a river, typically where it diverges into several outlets.
        <br />
        dendrite - the (usually) postsynaptic branch of a neuron that carries postsynaptic potentials toward the cell body.
        <br />
        dendron - (Greek) tree.
        <br />
        do - achieve or complete.
        <br />
        e-flat - is the fourth semitone of the solfège. It lies a diatonic semitone above D and a chromatic semitone below E, thus being enharmonic to D♯ (D-sharp) or re dièse.
        <br />
        hash - (function) used to map digital data of arbitrary size to digital data of fixed size. <br />
        &nbsp; &nbsp; come to agreement on something after lengthy and vigorous discussion. <br />
        &nbsp; &nbsp; the symbol #, used as a symbol on a phone keypad or computer keyboard or before a numeral. <br />
        &nbsp; &nbsp; a dish of cooked meat cut into small pieces and cooked again, usually with potatoes.
        <br />
    </i>
</div>
<br />

