@page "/notifications"
@using ei8.Cortex.Diary.Port.Adapter.UI.Common
@using ei8.Cortex.Diary.Application.Notifications
@using ei8.Cortex.Diary.Common
@using ei8.Cortex.Library.Client.Out
@inject INotificationApplicationService NotificationApplicationService
@inject INeuronQueryClient HttpNeuronQueryClient

<div class="top-row px-4">
    <div class="title">
        Notifications
    </div>
    <div class="details">
        <div><button title="Reload" @onclick="OnReload">Reload</button></div>
        <div><button title="More" @onclick="OnMore">More</button></div>
        <input placeholder="Avatar URL" @bind="AvatarUrl" />
    </div>
</div>
<div class="content px-4">
    <table>
        <thead>
            <tr>
                <th />
            </tr>
        </thead>
        <tbody>
            @foreach (var notif in this.NotificationItems)
            {
                <tr>
                    <td><b>@notif.Author</b> <small>&nbsp; @notif.Timestamp &nbsp; @notif.Type</small> <br /> @notif.Tag </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private static readonly IDictionary<string, UINeuron> neuronCache = new Dictionary<string, UINeuron>();

    public string AvatarUrl { get; set; }

    public NotificationLog NotificationLog { get; set; }

    public IEnumerable<NotificationData> NotificationItems { get; set; } = new NotificationData[0];

    private async Task OnReload()
    {
        this.NotificationLog = await this.NotificationApplicationService.GetNotificationLog(this.AvatarUrl, string.Empty);
        this.NotificationItems = (await Common.Helper.UpdateCacheGetNotifications(this.NotificationLog, HttpNeuronQueryClient, this.AvatarUrl, neuronCache));
    }

    private async Task OnMore()
    {
        this.NotificationLog = await this.NotificationApplicationService.GetNotificationLog(this.AvatarUrl, this.NotificationLog.PreviousNotificationLogId);
        this.NotificationItems = (await Common.Helper.UpdateCacheGetNotifications(this.NotificationLog, HttpNeuronQueryClient, this.AvatarUrl, neuronCache))
            .Concat(this.NotificationItems);
    }
}
