@page "/servers"
@using ei8.Cortex.Diary.Application.Settings
@using ei8.Cortex.Diary.Application.Identity
@using ei8.Cortex.Diary.Port.Adapter.IO.Process.Services.Settings
@inject ISettingsService SettingsService
@inject IIdentityService IdentityService
@inject NavigationManager NavManager
<div class="top-row px-4">
    <div class="title">
        Server Explorer
    </div>
    <div class="details">
        <div><button @onclick="OnReload">Reload</button></div>
        <input placeholder="Server URL" @bind="IdentityServerUrl" />
    </div>
</div>

@code {
    public string IdentityServerUrl { get; set; }

    private async Task OnReload()
    {
        this.SettingsService.IdentityServerUrl = this.IdentityServerUrl;
        this.SettingsService.ApplicationUrl = this.NavManager.BaseUri.TrimEnd('/');
        ((SettingsService)this.SettingsService).ClientId = "xamarin";
        this.NavManager.NavigateTo(IdentityService.CreateAuthorizationRequest()); // works if not using frames and is navigated to as another page
    }
}
