@using Blazor.Data
@using ei8.Cortex.Diary.Application.Neurons;
@inject INeuronQueryService NeuronQueryService;

<ul>
    @foreach (var child in Children)
    {
    <li @onmouseout="child.HideControls" style="list-style-type: none;">
        <span @onclick="child.Toggle">@child.GetIcon()</span>
        <span @onmouseover="child.ShowControls" @onmouseout="child.HideControls">
            @child.Tag
                @if (child.AreControlsVisible)
                {
                    <button style="height: 1rem; vertical-align: bottom; font-size:x-small;" @onclick="child.OnReload">Reload</button>
                }
        </span>
        @if (child.IsExpanded)
        {
            <div>
                <TreeView Children="@child.Children" AvatarUrl="@this.AvatarUrl"></TreeView>
            </div>
        }
    </li>
    }
</ul>

@code {
    protected override void OnInitialized()
    {
        this.Children = new NeuronViewModel[0];
    }

    [Parameter]
    public NeuronViewModel[] Children { get; set; }

    [Parameter]
    public string AvatarUrl { get; set; }
}