@page "/tree"
@using ei8.Cortex.Diary.Port.Adapter.UI.Common;
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Data;
@using ei8.Cortex.Diary.Application.Neurons;
@using ei8.Cortex.Library.Common;
@inject INeuronQueryService NeuronQueryService;

<div class="top-row px-4">
    <div class="title">
        Tree
    </div>
    <div class="details">
        <div><button @onclick="OnReload">Reload</button></div>
        <input placeholder="Avatar URL" @bind="AvatarUrl" />
    </div>
</div>
<div class="content px-4">
    <TreeView AvatarUrl="@this.AvatarUrl" Children="@this.Children"></TreeView>
</div>
<div class="footer px-4">
    <ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Shared.EditorBox AvatarUrl="@this.AvatarUrl" />
</div>

@code {
    protected override void OnInitialized()
    {
        this.Children = new NeuronViewModel[0];
    }

    [Parameter]
    public string AvatarUrl { get; set; }

    [Parameter]
    public NeuronViewModel[] Children { get; set; } = new NeuronViewModel[0];

    private async Task OnReload()
    {
        var children = new List<NeuronViewModel>();
        (await NeuronQueryService.GetNeurons(this.AvatarUrl, new NeuronQuery()))
            .Neurons
            .ToList().ForEach(n =>
            children.Add(new NeuronViewModel(new UINeuron(n), this.AvatarUrl, NeuronQueryService)));
        this.Children = children.ToArray();
    }
}
