@page "/tree"
@using works.ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Pages
@using works.ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Data
@using works.ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Shared

<div class="top-row px-4">
    <div class="title">
        Tree
    </div>
    <div class="details">
        <div><button @onclick="OnReload">Reload</button></div>
        <input placeholder="Avatar URL" @bind="AvatarUrl" />
    </div>
</div>
<div class="content px-4">
    <TreeView Children="Children"></TreeView>
</div>
<div class="footer px-4">
    <EditorBox />
</div>

@code {
    [Parameter]
    public string AvatarUrl { get; set; }

    [Parameter]
    public NeuronNode[] Children { get; set; } = new NeuronNode[0];

    private void OnReload()
    {
        var neuron1 = new NeuronNode("hello", new NeuronNode[] { new NeuronNode("world", new NeuronNode[0]), new NeuronNode("how", new NeuronNode[0]) });
        var neuron2 = new NeuronNode("quick", new NeuronNode[] { new NeuronNode("brown", new NeuronNode[] { new NeuronNode("jumps", new NeuronNode[0]), new NeuronNode("over", new NeuronNode[0]) }), new NeuronNode("fox", new NeuronNode[0]) });

        this.Children = new NeuronNode[] { neuron1, neuron2 };
    }
}
