@inherits LayoutComponentBase
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Shared
@using Blazorise.Icons.FontAwesome;

<Layout Sider>
    <LayoutSider>
        @*Hides on screens smaller than lg*@
        <LayoutSiderContent Display="Display.None.Block.OnTablet">
            <BlazoriseSidebar NavBarType="NavBarType.Side" />
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader Display="Display.None.OnTablet">
            <BlazoriseSidebar NavBarType="NavBarType.Top" />
        </LayoutHeader>
        <LayoutContent>
            <div class="main">
                @Body
            </div>
        </LayoutContent>
    </Layout>
</Layout>

<BlazoredToasts Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-check"
                ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info"
                WarningIcon="fa fa-warning" />