@inherits LayoutComponentBase
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Shared

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    @Body    
</div>

<BlazoredToasts Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-check"
                ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info"
                WarningIcon="fa fa-warning" />