@inherits LayoutComponentBase
@using works.ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Shared

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<div class="footer px-4">
    <EditorBox />
</div>