@inherits LayoutComponentBase
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Shared
@inject ViewOptionService ViewOption

<div class="sidebar @ViewOption.NavBarClass">
    <NavMenu />
</div>

<div class="main">
    @Body
</div>

<BlazoredToasts Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-check"
                ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info"
                WarningIcon="fa fa-warning" />

@code {

    protected override async Task OnInitializedAsync()
    {
        ViewOption.OnChanged = () =>
        {
            StateHasChanged();
        };
    }
}