version: '3.4'

services:
  blazor:
    env_file:
      - ./var1.env
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:65163;http://+:80
    volumes:
      - /C/Users/me353/Documents/ei8/Avatar/basic/https:/https:ro
      - /C/Users/me353/Documents/ei8/Avatar/basic:/C/db
    ports:
      - 192.168.1.1:65163:65163
networks:
  default:
    external:
      name: basic_default