version: '3.4'

services:
  blazor:
    env_file:
      - ./var1.env
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:65103;http://+:80
    volumes:
      - ~/.aspnet/https:/https:ro
      - /C/ei8/avatars/prod/sample:/C/db
    ports:
      - 192.168.1.110:65103:65103
networks:
  default:
    external:
      name: sample_default
