version: '3.4'

services:
  blazor:
    env_file:
      - ./var1.env
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:64103;http://+:80
    volumes:
      - ~/.aspnet/https:/https:ro
      - /C/Users/Lenovo/Documents/GitHub/avatar-server-pack/avatars/prod/sample:/C/db
    ports: 
        - 172.20.10.4:64103:6410

networks:
    default:
        external:
            name: sample_default